body {
  margin: 0;
  font-style: normal;
  font-family: 'Jua', sans-serif;
  color: #2e2e2e;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body * {
  box-sizing: border-box;
  font-family: 'Jua', sans-serif;
}

canvas {
  display: block;
  border: 2px solid #1c1c1c;
  background-color: #1c1c1c;
}

button {
  cursor: pointer;
  font-size: 28px;
  background: #20847d;
  width: 10em;
  padding: 0.25em 0;
  color: #ececec;
  outline: none;
  border: 0 none;
  border-radius: 4px;
  border: 2px solid #1c1c1c;
}

button:hover {
  background: #0c6f68;
}

button:active {
  background: #20847d;
}

button.disabled {
  cursor: not-allowed;
  background: #025650;
  color: #ababab;
}

.background {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  font-size: 40px;
  background-size: cover;
  background-position: bottom;
  background-image: url('/assets/desert_square.png');
  background-repeat: no-repeat;
  position: relative;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  opacity: 1;
  transition: all 500ms ease-in-out;
  z-index: 1000;
}

#loading > h1 {
  font-size: 128px;
  -webkit-text-stroke: 2px #2e2e2e;
  -moz-text-stroke: 2px #2e2e2e;
  paint-order: stroke fill;
  animation: loading 1s infinite;
}

@keyframes loading {
  0%,
  100% {
    transform: translateY(15px);
    animation-timing-function: ease-out;
  }

  50% {
    transform: translateY(-15px);
    animation-timing-function: ease-in;
  }
}

#game > .screen {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 10;
  min-width: 600px;
  min-height: 600px;
}

#game > .screen.active {
  display: block;
}

#main-menu {
  padding-top: 1em;
  cursor: pointer;
  font-size: 0.75em;
}

#main-menu > .menu {
  margin-top: 100px;
}

.normal-font {
  font-size: 18px;
}

.centered {
  text-align: center;
}

.normal-button {
  font-size: 0.9em;
  width: 8em;
  height: 2em;
  margin: 5px;
  margin-right: 20px;
}

.back-button {
  width: 212px;
  height: 120px;
  background: url('./assets/back_button.png') !important;
  background-size: 100% 100% !important;
  border: none;
  opacity: 1;
}

.back-button:hover {
  opacity: 0.95;
}

ul.menu {
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.menu > li {
  margin: 0.8em 0;
}

#game > .screen > h1 {
  font-size: 1em;
  text-align: center;
}

.screen > .center {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen > .center > p {
  margin: 1.25rem;
}

#highscores > ol {
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 280px;
  overflow: scroll;
}

#highscores > ol > li {
  padding: 0.5rem 0;
}

#game > div > p {
  font-size: 0.5em;
}

#about > p {
  text-align: center;
}

.login-form {
  width: 50%;
  margin: 100px auto 0;
  display: flex;
  flex-direction: column;
}

.login-form > input {
  width: 100%;
  padding: 5px 7px;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 2px solid #1c1c1c;
  color: #1c1c1c;
}

.login-form > .actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-form > .actions > button {
  flex: 0 0 49%;
}

#error-notification {
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  padding: 5px 7px;
  background-color: #db0623;
  color: white;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 2px solid #b20019;
  font-weight: 500;
  display: none;
}

.countdown-timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 220px;
  color: whitesmoke;
  -webkit-text-stroke: 2px #2e2e2e;
  -moz-text-stroke: 2px #2e2e2e;
  z-index: 1000;
  margin: 0;
}

.game-container {
  width: 100%;
  display: flex !important;
  flex-direction: row;
}

.game-container > .game-window {
  background-color: saddlebrown;
  padding: 10px 0;
  position: relative;
}

.game-container > .game-chat {
  width: calc((100vw - 100vh + 20px) / 2);
  min-width: 100px;
  background-color: saddlebrown;
  height: 100vh;
}

.game-container > .game-menu {
  width: calc((100vw - 100vh + 20px) / 2);
  min-width: 100px;
  height: 100vh;
  background-color: saddlebrown;
  display: flex;
  flex-direction: column;
}

.game-container > .game-menu > .mini-map-window {
  background-color: saddlebrown;
  padding: 10px 0 0 10px;
  flex-grow: 0;
  flex-shrink: 0;
}

.game-menu > .options {
  flex-grow: 1;
  width: 100%;
  padding: 5px 10px;
  position: relative;
}

.game-menu > .options > .inventory {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #1c1c1c;
}

.game-menu > .options .inventory-item {
  display: flex;
  flex-direction: column;
}

.game-menu > .options .inventory-item > span {
  white-space: nowrap;
}

.game-menu > .options .inventory-item > span:not(.title) {
  font-size: calc(0.01em + 2vh + 0.25vw);
  color: #1c1c1c;
  padding-left: 3px;
}

.game-menu > .options .inventory-item > .title {
  font-size: calc(0.01em + 3vh + 0.25vw);
  color: whitesmoke;
  -webkit-text-stroke: 2px #1c1c1c;
  -moz-text-stroke: 2px #1c1c1c;
}

.game-menu > .options > button {
  width: calc(100% - 30px);
  color: #1c1c1c;
  border: 1px solid #1c1c1c;
  border-radius: 4px;
  background-color: #ececec;
  border: 2px solid #1c1c1c;
  color: #1c1c1c;
  font-weight: 500;
  position: absolute;
  bottom: 10px;
}

.game-menu > .options > button:hover {
  background-color: white;
}

.game-menu > .options > button:active {
  background-color: #cccccc;
}

.game-menu > .options > button:focus {
  outline: none;
}

.game-chat {
  padding: 10px;
  position: relative;
}

.game-chat > .messages {
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  overflow: scroll;
}

.game-chat > .messages > .message {
  max-width: 80%;
  font-size: 14px;
  padding: 5px 0;
}

.game-chat > .messages > .message > p {
  display: inline-block;
  border-radius: 4px;
  padding: 5px 7px;
  background-color: #ececec;
  margin: 2px 0;
  -webkit-box-shadow: 0 6px 6px -5px #1c1c1c;
  -moz-box-shadow: 0 6px 6px -5px #1c1c1c;
  box-shadow: 0 6px 6px -5px #1c1c1c;
}

.game-chat > .messages > .message > p > .red {
  color: #bb0000;
}

.game-chat > .messages > .game-message {
  margin-left: auto;
}

.game-chat > .messages > .message > p > i > {
  font-style: italic;
}

.game-chat > .messages > .chat-message > .username {
  color: #ececec;
  padding-left: 1px;
}

.game-chat > .messages > .chat-message > p {
  color: #1c1c1c;
}

.game-chat > .new-message {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.game-chat > .new-message > .input {
  width: 65%;
  margin-right: 0.5rem;
}

.game-chat > .new-message > .input > textarea {
  height: 40px;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  line-height: 1.5;
  padding: 5px 7px;
  border: 2px solid #1c1c1c;
  color: #1c1c1c;
  background-color: #dddddd;
}

.game-chat > .new-message > .input > textarea:focus {
  background-color: white;
  outline: none;
}

.game-chat > .new-message > button {
  height: 40px;
  width: 35%;
  padding: 8px 0;
  font-size: 16px;
  border-radius: 4px;
  background-color: #dddddd;
  border: 2px solid #1c1c1c;
  color: #1c1c1c;
  font-weight: 500;
}

.game-chat > .new-message > button:hover {
  background-color: white;
}

.game-chat > .new-message > button:active {
  background-color: #cccccc;
}

.game-chat > .new-message > button:focus {
  outline: none;
}

.lobby {
  margin: 50px auto 0;
  height: calc(100vh - 100px) !important;
  width: 70vw !important;
  display: flex;
  flex-direction: column;
}

.lobby-actions {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lobby-actions > button {
  font-size: 26px;
}

.waiting-room {
  flex-grow: 1;
  margin: 10px auto 0;
  width: 100%;
  max-width: 800px;
  background-color: saddlebrown;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid #2e2e2e;
  border-radius: 4px;
}

.waiting-room > .player-list {
  width: 200px;
  padding: 10px;
  border-right: 2px solid #2e2e2e;
}

.waiting-room > .player-list > h2 {
  color: #ececec;
  font-size: 20px;
  margin: 0 0 10px;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 2px solid #ececec;
}

.waiting-room > .player-list > .players {
  width: 100%;
  height: calc(100% - 100px);
  overflow: scroll;
}

.waiting-room > .player-list > .players > .player {
  color: #ececec;
  font-size: 16px;
  position: relative;
  padding: 0 0 10px 20px;
}

.waiting-room > .player-list > .players > .player::before {
  content: '•';
  color: #38bb00;
  font-size: 32px;
  line-height: 0;
  position: absolute;
  top: 10px;
  left: 0;
}

.waiting-room > .game-chat {
  width: 600px;
}

.pregame-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.pregame-container > h1 {
  margin: 20px 0 0;
  font-size: calc(0.5em + 3.5vh);
  color: whitesmoke;
  -webkit-text-stroke: 1px #1c1c1c;
  -moz-text-stroke: 1px #1c1c1c;
  text-align: center;
  white-space: nowrap;
}

.pregame-container > canvas {
  margin: 30px 0;
  cursor: pointer;
}

.pregame-container > button {
  width: calc(100vh - 75px);
}
