body {
	margin: 0;
	font-style: normal;
	font-family: sans-serif;
	color: #6e6f72;
}

#game {
	position: absolute;
	left: 0;
	top: 0;
	width: 350px;
	height: 450px;
	font-size: 40px;
}

.background {
	background-size: cover;
	background-position: bottom;
	min-width: 600px;
	min-height: 600px;
	background-image: url('/assets/desert_square.png');
	background-repeat: no-repeat;
}

#game .screen {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 10;
	min-width: 600px;
	min-height: 600px;
}

#game .screen.active {
	display: block;
}

#main-menu {
	padding-top: 1em;
	cursor: pointer;
	font-size: 0.75em;
}

ul.menu {
	text-align: center;
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.menu li {
	margin: 0.8em 0;
}

ul.menu li button {
	font-family: Arial, sans-serif;
	font-size: 0.6em;
	background: #69a0db;
	width: 10em;
	height: 1.5em;
	color: white;
	outline: none;
	border:0 none;
	border-radius: 4px;

	/* color: #CECEF6;

	background: #0404B4;
	border: 0.1em solid rgb(255, 0, 0);
	border-radius: 0.5em;
	box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0); */
}

ul.menu li button:hover {
	background: #2E2EFE;
}

ul.menu li button:active {
	color: #CECEF6;
	background: rgb(0, 0, 0);
}

#game div h1 {
	font-size: 1em;
	text-align: center;
}

#high-scores ol {
	text-align: center;
	padding: 0;
	margin: 0;
	list-style: none;
}

#game div p {
	font-size: 0.5em;
}

#about p {
	text-align: center;
}
